// Local overrides
@import './variables';
@import './mixins';

$fa-font-path: '~font-awesome/fonts';

// Get Big Bertha
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/scss/font-awesome';

// Your styles below. Feel free to organize as you wish, using BEM, something
// similar or just create a big mess here. Practicality beats purity,
// especially if it generates more $$$.

body {
  padding-top: 54px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.navbar {
  border-radius: 0;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);

  .logo {
    height: 24px;
    display: inline-block;
    vertical-align: sub;
    margin-right: 12px;
  }

  .navbar-nav .nav-item + .nav-item {
    margin-left: 0.25em;
  }
}

footer {
  font-size: 12px;
  color: #999;
  text-align: center;
}

.wrapper {
  &.first {
    border-bottom: 1px solid #ECEFF1;
  }

  &.last {
    padding-top: 1rem;
    border-top: 1px solid #ECEFF1;
  }
}

code {
  font-size: 80%;
}

.books-background {
  background: transparent url(../public/images/books.jpg) no-repeat right center;
  height: 480px;
  border-bottom: 1px solid #ECEFF1;
}

.editor, .viewer, .navigator {
  border: 1px solid #ddd;
  border-top: none;
  padding: 1em;
  margin-bottom:1em;
}

.content {
  border: 1px solid #ddd;
  border-top: none;
  padding: 1em;
}

.notification-list {
  z-index: 9999;
}

.notification-bar {
  z-index: 9999;
}